:root {
  --black: rgb(0, 0, 0);
  --darker-blue: rgb(5, 5, 29);
  --dark-blue: rgb(12, 12, 70);
  --light-blue: rgb(13, 100, 176);
  --lighter-blue: rgb(180, 220, 255);
  --gray: rgb(167, 167, 167);
  --light-gray: rgb(210, 210, 210);
  --lighter-gray: rgb(243, 243, 243);
  --off-white: rgb(252, 252, 252);
  --white: rgb(255, 255, 255);

  --white-a90: rgba(255, 255, 255, 0.9);
}

body {
  font-family: Arial;
  font-size: 19px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 19px;
}

a {
  color: var(--hyperlink-color);
}

.color-scheme-dark {
  --hyperlink-color: var(--dark-blue);
  color: var(--black);
}

.color-scheme-light {
  --hyperlink-color: var(--lighter-blue);
  color: var(--white-a90);
}

.bg-black {
  background-color: var(--black);
}
.bg-darker-blue {
  background-color: var(--darker-blue);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-lighter-blue {
  background-color: var(--lighter-blue);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-lighter-gray {
  background-color: var(--lighter-gray);
}
.bg-off-white {
  background-color: var(--off-white);
}
.bg-white {
  background-color: var(--white);
}
/* Desktop */
.container {
  width: 1570px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
/* Laptop & Small desktop */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .container {
    width: 1170px;
  }
}
/* Tablet (landscape) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 962px;
  }
}
/* Tablet (portrait) & Tall mobile (landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 100%;
  }
}
/* Mobile (landscape) & Small tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 100%;
  }
}
/* Mobile (portrait) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.col {
  flex-basis: 0px;
  flex-grow: 1;
}

main {
  margin-top: 50px;
}

textarea {
  width: 100%;
}
